What is your age?

<form action="age" method="post">
	<input type="text" name="user_age">
	<input type="text" name="user_name" value = <%= name%> hidden>
	<input type="text" name="user_location" value = <%= location%> hidden>
	<input type="submit">
</form>