What are your 3 favorite numbers?

<form action="favorites" method="post">
	<input type="number" name="num1">
	<input type="number" name="num2">
	<input type="number" name="num3">
	<input type="text" name="user_name" value = <%= name%> hidden>
	<input type="text" name="user_location" value = <%= location%> hidden>
	<input type="text" name="user_age" value = <%= age%> hidden>
	<input type="submit">
</form>